body {
    margin-top: 50px;
    margin-left: 16%;
    background-color: #ccffcc
}

h1 {
    margin-top: 20px;
    text-align: center;
}

ul.topbar {
    text-align: center ;
    list-style-type: none;
    position: fixed;
    top: 0;
    left: 15%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

ul.sidebar {
    list-style-type: none;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 15%;
    height: 100%;
    color: #bf0;
    overflow-y : scroll;
    
}

li {
    float: left;
}
input {
   border-top: 1px solid #000000;
   background: #327336;
   background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#327336));
   background: -webkit-linear-gradient(top, #000000, #327336);
   background: -moz-linear-gradient(top, #000000, #327336);
   background: -ms-linear-gradient(top, #000000, #327336);
   background: -o-linear-gradient(top, #000000, #327336);
   padding: 4.5px 9px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
input:hover {
   border-top-color: #0e5218;
   background: #0e5218;
   color: #ccc;
   }
input:active {
   border-top-color: #1b435e;
   background: #000000;
   }
   input:disabled {
        color: #ccc;
   border-top-color: #00000o;
   background: #327336;
   }
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #336600;
}
p {

}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

tr.pause {
    background-color: #00cc00;
    border: 2px solid black;
}

tr:hover:not(.header) {
    background-color: #cccccc;
}

td {
    text-align: left;
   
    width: 150px
}

td.time {
     padding: 15px;
    text-align: center;
    font-weight: bold;
}

div.raum {
    font-size: 10pt;
    text-align: right;
}
